cartridges/int_financing_app/cartridge/webreferences2/BrokerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://www.shopperscharge.com/BrokerService"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:serviceSchema="http://www.shopperscharge.com/BrokerService">
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://www.shopperscharge.com/BrokerService">

            <!-- Simple Type: IPAddress-->
            <s:simpleType name="IPAddress">
                <s:restriction base="s:string">
                    <s:pattern value="\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}"/>
                </s:restriction>
            </s:simpleType>

            <!-- Types: Validation, ValidationResponse
                 response elements Link and LogLink uniquely identify the request, and are useful for documentation
            -->

            <s:complexType name="Validation">
                <s:sequence>
                    <s:element minOccurs="1" maxOccurs="1" name="UserID">
                        <s:simpleType>
                            <s:restriction base="s:string">
                                <s:minLength value="1"/>
                                <s:maxLength value="20"/>
                            </s:restriction>
                        </s:simpleType>
                    </s:element>
                    <s:element minOccurs="1" maxOccurs="1" name="Password">
                        <s:simpleType>
                            <s:restriction base="s:string">
                                <s:minLength value="6"/>
                                <s:maxLength value="20"/>
                            </s:restriction>
                        </s:simpleType>
                    </s:element>
                </s:sequence>
            </s:complexType>

            <s:complexType name="ValidationResponse">
                <s:sequence>
                    <s:element minOccurs="1" maxOccurs="1" name="ReturnCode" type="s:int"/>
                    <!--  1 - Successful
                          202 - Error: Invalid UserID
                          203 - Error: Invalid UserID for Web Service
                          204 - Error: Invalid IPAddress
                          205 - Error: Invalid Password
                          ? - Error: Other
                    -->
                    <s:element minOccurs="0" maxOccurs="1" name="Msg" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="Link" type="s:int"/>
                    <s:element minOccurs="0" maxOccurs="1" name="LogLink" type="s:int"/>
                </s:sequence>
            </s:complexType>

            <!-- Complex types for access token-->

            <s:complexType name="AccessTokenRequest">
                <s:sequence>
                    <s:element minOccurs="1" maxOccurs="1" name="AccessKey">
                        <!-- AccessKey is the requested permission -->
                        <s:simpleType>
                            <s:restriction base="s:string">
                                <s:minLength value="1"/>
                                <s:maxLength value="900"/>
                            </s:restriction>
                        </s:simpleType>
                    </s:element>
                    <s:element minOccurs="1" maxOccurs="1" name="IPAddress" type="serviceSchema:IPAddress"/>
                    <s:element minOccurs="0" maxOccurs="1" name="Duration">
                        <!-- Duration is the requested # seconds until token expires -->
                        <s:simpleType>
                            <s:restriction base="s:int">
                                <s:minInclusive value="1"/>
                            </s:restriction>
                        </s:simpleType>
                    </s:element>
                    <s:element minOccurs="0" maxOccurs="1" name="UseCtMax">
                        <!-- UseCtMax is the requested # of times the token can be used -->
                        <s:simpleType>
                            <s:restriction base="s:int">
                                <s:minInclusive value="1"/>
                            </s:restriction>
                        </s:simpleType>
                    </s:element>
                    <s:element minOccurs="1" maxOccurs="1" name="PreScreenId">
                        <s:simpleType>
                            <s:restriction base="s:string">
                                <s:minLength value="1"/>
                                <s:maxLength value="900"/>
                            </s:restriction>
                        </s:simpleType>
                    </s:element>
                    <s:element minOccurs="1" maxOccurs="1" name="EntryType">
                        <s:simpleType>
                            <s:restriction base="s:string">
                                <s:minLength value="1"/>
                                <s:maxLength value="900"/>
                            </s:restriction>
                        </s:simpleType>
                    </s:element>
                </s:sequence>
            </s:complexType>

            <s:complexType name="ArrayOfAccessTokenRequest">
                <s:sequence>
                    <s:element minOccurs="1" maxOccurs="unbounded" nillable="true" name="AccessTokenRequest"
                               type="serviceSchema:AccessTokenRequest"/>
                </s:sequence>
            </s:complexType>

            <s:complexType name="AccessTokenResponse">
                <s:sequence>
                    <s:element minOccurs="1" maxOccurs="1" name="ReturnCode" type="s:int"/>
                    <!--  1 - Successful
                          2 - Error: AccessKey not allowed for brokering
                          3 - Error: AccessKey not allowed
                          ? - Error: Other
                    -->
                    <s:element minOccurs="1" maxOccurs="1" name="Msg" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="AccessToken" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="EntryURLPath" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="Duration" type="s:int"/>
                    <!-- Duration is the actual # seconds until token expires - may be less than requested -->
                    <s:element minOccurs="0" maxOccurs="1" name="UseCtMax" type="s:int"/>
                    <!-- UseCtMax is the actual # of times the token can be used - may be less than requested -->
                </s:sequence>
            </s:complexType>

            <s:complexType name="ReturnURLs">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="1" name="approvedReturnUrl">
                        <s:simpleType>
                            <s:restriction base="s:string">
                                <s:minLength value="1"/>
                                <s:maxLength value="200"/>
                            </s:restriction>
                        </s:simpleType>
                    </s:element>
                    <s:element minOccurs="0" maxOccurs="1" name="referredReturnUrl">
                        <s:simpleType>
                            <s:restriction base="s:string">
                                <s:minLength value="1"/>
                                <s:maxLength value="200"/>
                            </s:restriction>
                        </s:simpleType>
                    </s:element>
                    <s:element minOccurs="0" maxOccurs="1" name="declinedReturnUrl">
                        <s:simpleType>
                            <s:restriction base="s:string">
                                <s:minLength value="1"/>
                                <s:maxLength value="200"/>
                            </s:restriction>
                        </s:simpleType>
                    </s:element>
                    <s:element minOccurs="0" maxOccurs="1" name="cancelReturnUrl">
                        <s:simpleType>
                            <s:restriction base="s:string">
                                <s:minLength value="1"/>
                                <s:maxLength value="200"/>
                            </s:restriction>
                        </s:simpleType>
                    </s:element>
                </s:sequence>
            </s:complexType>

            <s:complexType name="ArrayOfAccessTokenResponse">
                <s:sequence>
                    <s:element minOccurs="1" maxOccurs="unbounded" nillable="true" name="AccessTokenResponse"
                               type="serviceSchema:AccessTokenResponse"/>
                </s:sequence>
            </s:complexType>

            <s:element name="GetAccessToken">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="validation" type="serviceSchema:Validation"/>
                        <s:element minOccurs="1" maxOccurs="1" name="AccessTokenRequests"
                                   type="serviceSchema:ArrayOfAccessTokenRequest"/>
                        <s:element minOccurs="0" maxOccurs="1" name="returnURLs" type="serviceSchema:ReturnURLs"/>
                    </s:sequence>
                </s:complexType>
            </s:element>

            <s:complexType name="GetAccessTokenResponse">
                <s:sequence>
                    <s:element minOccurs="1" maxOccurs="1" name="ValidationResponse"
                               type="serviceSchema:ValidationResponse"/>
                    <s:element minOccurs="0" maxOccurs="1" name="AccessTokenResponses"
                               type="serviceSchema:ArrayOfAccessTokenResponse"/>
                </s:sequence>
            </s:complexType>

            <s:element name="GetAccessTokenResult">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="GetAccessTokenResponse"
                                   type="serviceSchema:GetAccessTokenResponse"/>
                    </s:sequence>
                </s:complexType>
            </s:element>

        </s:schema>
    </wsdl:types>


    <!-- SOAP Messages -->
    <wsdl:message name="GetAccessTokenSoapIn">
        <wsdl:part name="parameters" element="serviceSchema:GetAccessToken"/>
    </wsdl:message>
    <wsdl:message name="GetAccessTokenSoapOut">
        <wsdl:part name="parameters" element="serviceSchema:GetAccessTokenResult"/>
    </wsdl:message>


    <!-- SOAP Operations -->

    <wsdl:portType name="BrokerServiceSoap">
        <wsdl:operation name="GetAccessToken">
            <wsdl:input message="serviceSchema:GetAccessTokenSoapIn"/>
            <wsdl:output message="serviceSchema:GetAccessTokenSoapOut"/>
        </wsdl:operation>
    </wsdl:portType>


    <!-- SOAP Bindings -->

    <wsdl:binding name="BrokerServiceSoap" type="serviceSchema:BrokerServiceSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="GetAccessToken">
            <soap:operation soapAction="http://www.shopperscharge.com/BrokerService/GetAccessToken" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>


    <!-- Service Definition -->

    <wsdl:service name="BrokerService">
        <documentation xmlns="http://schemas.xmlsoap.org/wsdl/"/>
        <wsdl:port name="BrokerServiceSoap" binding="serviceSchema:BrokerServiceSoap">
            <soap:address location="http://www.shopperscharge.com/aspx/BrokerService/BrokerService.asmx"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>